.container {
  width: 50%;
}

.location-header {
  background-color: gray;
  height: 60px;
}

.location-body {
  background-color: orange;
  height: 100px;
}

.location-footer {
  background-color: green;
  margin-bottom: 10px;
}
