#index-view(ng-controller="IndexCtrl")
  %header
    %h1 Eis go zieh

  %section.search
    %input.input-lg.form-control(type="text" placeholder="Suchen...")
    %button.btn(ng-click="search()") Suchen

  %section.locations
    %article.location(ng-repeat="location in locations")
      .location-header
        %h2 {{location.name}}
        %span.label.label-info(ng-repeat="tag in location.tags")
          {{tag}}
      .location-body
        .picture(ng-style="{'background-image' : 'url(' + location.picture + ')'}")
      .location-footer
        %strong
          {{location.zip_code}} {{location.city}}
        %em
          {{location.street}}
